
:root {
	--shadowcolor : #eeeeee;
}

/*//Global*/
body
{
  margin: 0;
  padding: 0;
  background-color: #1e1b39;
  height :100vh ;
}

main
{
	scroll-behavior: auto;
	overflow: auto;
}


/*ClasseName and Id*/
.clroot
{

  min-width: 300px;
  max-width: 500px;
  height :100vh ;
	color:#b7b5c4;
}

.tete
{
	padding-top: 10px;
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: 92% 8%;
}

.tete h1
{
	display: inline-block;
	color: #573090;
	font-family: 'Pacifico', cursive;
}

.tete span
{
	margin-top: 12px;
}

.nav-content
{
	display: none;
}

.nav-content.active
{
	display: block;
}

.tab .active {
	border-radius: 4px;
	color: white;
	box-shadow: 0 0px 2px 0px #f5f5f5;
}

.tab {
	margin: 25px 0;
	padding: 0;
	display: grid;
	grid-template-columns: 50% 50%;
}

.tab li {
	display: inline;
	list-style: none !important;
	text-align: center;
	padding : 5px 0;
	font-family: 'EB Garamond', serif;
}

.item-date
{
	margin: 20px 0 0 10px;
	padding: 0;
	color: white;
}

.item-content 
{
	margin: 10px 0px;
	padding: 10px;
	background-color: #f4f6ff;
	box-shadow: 0 0 3px 0;
	border-radius: 3px;
}

.item-content .fline 
{
	display: grid;
	grid-template-columns: 94% 6%;
}

.item-content .fline h5
{
	display: inline-block;
	color: black;
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
}

.item-content .fline span 
{
	color: #252448;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.item-content .fline .expand_less
{
	display: none;
}

.item-content .sline p 
{
	display: inline-block;
	color: rgb(94, 91, 91);
	margin: 0;
	padding: 0;
	font-family: 'Martel', serif;
}

.sline-reason
{
	color: #06623b !important;
}

.item-content .sline-time
{
	width: 200px;
	margin-left: 10px !important;
}


.item-content .tline .item-option
{
	/*margin: 5px 10px 5px 10px;*/
	padding: 0;
	color: grey;
	display: none;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}



.tline span {
	font-size: 17px !important;
	margin : 0 5px;
}

.thumb_up_alt
{
	color: #438a5e;
}

.delete
{
	color: #e7305b ;
}

.edit {
	color: #222831;
}
.info
{
	color: #035aa6;
}
.tline {
	 display: flex !important;
	 justify-content:  flex-end;
	 /*align-items: flex-end;*/
}

.datehelp, .timehelp, .texthelp {
	 visibility: hidden;
	 display: block;
}

.search-bar
{
	box-shadow: 0 0 3px 0 ;
}

.modal 
{
	min-width: 300px;
}
.modal-footer
{
	background-color: #252448;
}
.btn-quit
{
	margin-right: 15px;
}

.text-question {
	color: rgb(26, 25, 25);
}

.text-answer {
	color: rgb(94, 91, 91);
}

/* Forward */

.material-icons.greencol { 
	color: white;
	font-size: 30px;	
}
 .search-bar[placeholder] {
	font-family: 'EB Garamond', serif;
	font-style: italic;
 }


.modal-body input[placeholder]
{
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
.modal-body input[type="date"]
{
	font-family: 'EB Garamond', serif;
	font-style: italic;
}

.modal-body input[type="time"]
{
	font-family: 'EB Garamond', serif;
	font-style: italic;
}

.modal-body textarea[placeholder]
{
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #9d9ead; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:#252448; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background:#1e1b39; 
  }

/*//Events*/

a:hover, li:hover {
	text-decoration: none;
	color: none;

}


