/*New */

.selected
{
  margin: 5px 10px;
  display: inline;
  background: yellow;
}

.not-selected
{
  margin: 5px 10px;
  display: inline;
  background: red;
}

.desc p
{
	display: inline-block;
	margin: 5px;
}
.item{
	margin : 10px 0;
	border: 1px solid black;
	padding: 5px;
	border-radius: 6px;
}
.item-cat
{
	display: inline-block;
}
#todo-list
{
	overflow: scroll;
	overflow-x: hidden;
	max-height: 400px;
}